@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 63% 98%;
    --foreground: 45 57% 0%;
    --card: 45 63% 97%;
    --card-foreground: 0 0% 0%;
    --popover: 45 63% 98%;
    --popover-foreground: 45 57% 0%;
    --primary: 45 24% 67%;
    --primary-foreground: 45 24% 7%;
    --secondary: 15 24% 67%;
    --secondary-foreground: 15 24% 7%;
    --accent: 75 24% 67%;
    --accent-foreground: 75 24% 7%;
    --destructive: 22 85% 25%;
    --destructive-foreground: 22 85% 85%;
    --muted: 15 30% 90%;
    --muted-foreground: 15 0% 33%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 45 24% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 45 34% 2%;
    --foreground: 45 21% 99%;
    --card: 45 34% 3%;
    --card-foreground: 0 0% 100%;
    --popover: 45 34% 2%;
    --popover-foreground: 45 21% 99%;
    --primary: 45 24% 67%;
    --primary-foreground: 45 24% 7%;
    --secondary: 15 24% 67%;
    --secondary-foreground: 15 24% 7%;
    --accent: 75 24% 67%;
    --accent-foreground: 75 24% 7%;
    --destructive: 22 85% 46%;
    --destructive-foreground: 0 0% 100%;
    --muted: 15 30% 10%;
    --muted-foreground: 15 0% 67%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 45 24% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 99px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--muted-foreground));
  border-radius: 5px;
}